{% extends 'tennis/base.html' %}
{% load staticfiles %}

{% block body_block%}
    
    {% block title_block %}
        About the Tennis System
    {% endblock %}

    <body>
        <center><h1> About the Club </h1></center>
        <div class="w3-panel w3-border w3-border-green">
            <center> In the heart of Glasgow's West End, the Western Health & Racquets Club is the ideal place for everyone to play sport, get fit and have a good time. We offer social tennis & squash plus coaching for all standards/ages. </center> <br />
        </div>
        <center><img src="{% static "images/club.jpg" %}" alt="Club grounds" /></center>
    </body>

{% endblock %}
