<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>
            Western Tennis Club
            {% block title_block %}
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
            {% if user.is_authenticated %}     
                <li><a href="{% url 'logout' %}"> Log Out </a></li>
            {% else %}
                <li><a href="{%url 'register'%}">Sign Up</a></li>
                <li><a href="{%url 'login'%}">Log In</a></li>
            {% endif %}
                <li><a href="{%url 'index'%}">Home</a></li>
                <li><a href="{%url 'about'%}">About</a></li>
            </ul>
        </div>
    </body>
</html>
