{% extends 'tennis/base.html' %}
{% load staticfiles %}

{% block body_block%}
    
    {% block title_block %}
        Western Tennis Club
    {% endblock %}

    <body>
        <h1> Welcome to the Western Tennis Club </h1>
        <div>
            Log in to get started.
            <br>
            Once logged in, you will be able to access new buttons.
        </div>
        {% if players %}
            <ul>
            {% for player in players %}
                <li>{{player.fname}},{{player.group}}</li>
            {% endfor %}
            </ul>
        {% endif %}
	
    </body>

{% endblock %}
