{% extends 'tennis/base.html' %}
{% load staticfiles %}

{% block body_block%}
    
    {% block title_block %}
        Western Tennis Club
    {% endblock %}

    <body>
        <h1 class="text-center"> Welcome to the Western Tennis Club </h1>
        <center><img src="{% static "images/rsz_logo.gif" %}" alt="Club logo" /></center>
        <div class="w3-panel w3-border w3-border-green">
            <center> Log in to get started. <center>
            <br>
            <center> Once logged in, you will be able to access new buttons. </centre>
        </div>
        {% if players %}
            <ul>
            {% for player in players %}
                <li>{{player.fname}},{{player.group}}</li>
            {% endfor %}
            </ul>
        {% endif %}
	
    </body>

{% endblock %}
