{% extends 'tennis/base.html' %}
{% load staticfiles %}

{% block body_block%}

   {% block title_block %}
        Registration
    {% endblock %}

    <body>
        <h1>Register Here</h1>
        {% if registered %}
            <strong> Thank you for registering</strong>
            <a href="{% url 'index' %}"> Return to homepage </a><br />

        {% else %}
            <form id="user_form" method="post" action="{% url 'register' %}">

            {% csrf_token %}

            <!-- displays forms -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- adds submit button -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
{% endblock %}
        
        

